XTerm.termName: xterm-256color

XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.fullscreen: never

XTerm.vt100.foreground: #dcdccc
XTerm.vt100.background: #3f3f3f

! thankyou to cqpx (https://gist.github.com/cqpx) for most colours

! black 
XTerm.vt100.color0: #3f3f3f
! maroon
XTerm.vt100.color1: #CC9393
! green
XTerm.vt100.color2: #7F9F7F
! olive
XTerm.vt100.color3: #f0dfaf
! navy
XTerm.vt100.color4: #8CD0D3
! purple
XTerm.vt100.color5: #dc8cc3
! teal
XTerm.vt100.color6: #93e0e3
! silver
XTerm.vt100.color7: #dcdccc
! grey
XTerm.vt100.color8: #000000
! red
XTerm.vt100.color9: #dca3a3
! lime
XTerm.vt100.color10: #bfebbf
! yellow
XTerm.vt100.color11: #f0dfaf
! blue
XTerm.vt100.color12: #8cd0d3
! fuschia
XTerm.vt100.color13: #dc8cc3
! aqua
XTerm.vt100.color14: #93e0e3
! white
XTerm.vt100.color15: #ffffff

XTerm.vt100.faceName: DejaVu Sans Mono:style=Book:antialias=true
XTerm.vt100.faceNameDoublesize: WenQuanYi WenQuanYi Bitmap Song
XTerm.vt100.faceSize: 12
